#content {
    width:85%;
    margin: 0 auto;
}
.input-group {
    margin-top:1em;
}
#footer {
    padding-top: 4em;
    padding-left: 1em;
}
#txhash {
    width:40em;
}
#rnc_request_number {
    font-size: 500%;
    font-weight: bolder;
    height:40vh;
}
#rnc_request_max {
    font-weight: bolder;
}
#rnc_request_min {
    font-weight: bolder;
}
.results {
    padding-left: 3em;
}
